@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts_montserrat.ttf");
}

$main-font: "Montserrat";

$purple1: #440386;
$purple2: #7c09ff;
$purple3: #3609ff;

$grey1: rgba(77, 77, 77, 0.9);
$grey2: #2a292a;
$grey3: #4c4851;

$bd-anim-color: aqua;